<nav class="m-nav m-nav--primary">
  <ul class="m-nav__list">
    {{#primaryNav}}
    <li class="m-nav__item m-nav__item--primary">
      <a href="{{ url }}" class="m-nav__link {{ class }}">{{ label }}</a>
    </li>
    {{/primaryNav}}
  </ul>
  <!--end m-nav__list-->
</nav>
<!--end m-nav-->