{{#icons}}

<a class="a-icon--svg" href="{{ href }}" aria-label="{{ icon-name }}">
  <svg viewbox="0 0 512 512" role="img">
    <title class="tooltip">{{ icon-name }}</title>
    <path d="{{ path }}"/>
  </svg>
  <!--[if lt IE 9]><em>{{ icon-name }}</em><![endif]-->
</a>

{{/icons}}
