.m-bubble-group {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;

  .a-bubble {
    flex-basis: 12rem;
    flex-grow: 1;
    margin: 0 $space-m $space-l 0;
  }
}
