.m-banner {
  background-color: $color-primary;
}
.m-banner--content {
  color: $color-white;
  font-family: $font-serif;
  padding: $space-inset-xl;
  h1, p {
    color: $color-white;
    font-family: $font-serif;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  p {
    font-size: 2rem;
  }
  @media (max-width: 600px) {
    padding: $space-inset-m;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.25rem;
    }
  }
}

