.m-gallery {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $space-m $space-m 0;

  .m-gallery__item {
    margin: $space-inline-m;
    @media (min-width: 700px) {
      margin-right: $space-l;
    }
  }
}
