@mixin m-figure {
  display: table;
  position: relative;
}

@mixin border {
  background: $color-gray-90;
  padding: $space-inset-m;
}

.m-figure {
  @include m-figure;
  @include border;
}

.m-figure__media {
  display: block;
  line-height: 0;
  position: relative;
  width: 100%;
}

.m-figure--caption-below {
  @include m-figure;
  @include border;

  .m-figure__caption {
    background: $color-gray-90;
    caption-side: bottom;
    display: table-caption;
    font-size: $font-small;
    padding: 0 $space-m $space-m;
  }
}

.m-figure--hidden-caption,
.m-gallery__item {
  @include m-figure;

  .m-figure__caption {
    background: $color-gray-dark;
    bottom: 0;
    color: $color-white;
    font-size: $font-small;
    left: 0;
    opacity: 0;
    padding: $space-inset-xs;
    position: absolute;
    text-align: center;
  }

  &:hover,
  &:focus {
    outline: 0;

    .m-figure__caption {
      opacity: 1;
    }
  }
}
