/* General navigation styles */
.m-nav {
  // background-color: gray;
  padding: $space-inset-m;
}

.m-nav__heading {
  margin: $space-stack-l;
}

.m-nav__list {
  //background-color: skyblue;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.m-nav__item {
  //background-color: green;
  display: inline-table;
  @media (min-width: 550px) {
    margin-right: $space-xl;
    margin-bottom: $space-m;
    &:last-child {
      margin: 0;
    }
  }
  @media (max-width: 550px) {
    margin: $space-inline-m;
  }
}

.m-nav__link {
  //background-color: orange;
  padding: $space-s $space-xs;
  &:hover, &:focus, &.is-active {
    border-bottom: 3px solid $color-link;
    text-decoration: none;
  }
  &.icon__link:hover {
    border: none;
  }
  .m-nav__item & .icon {
    color: $color-link;
    &:hover, &:focus {
      color:$color-link--hover;
    }
  }
}

/* Styles just for services nav */
.m-nav--service {

}

/* styles just for primary nav */

.m-nav--primary {
  text-align: right;
  @media(max-width: 400px) {
    display: block;
    text-align: center;
    width: 100%;
    .m-nav__list {
      padding: 0;
    }
    .m-nav__item {
      width: 100%;
    }
    .m-nav__link {
      display: block;
      height: 100%;
      padding: $space-xs;
    }
    .m-nav__link:hover, .m-nav__link.is-active {
      border: none;
      background-color: $color-link;
      color: $color-white;
      display: block;
      width: 100%;
    }
  }
}

/* on narrower screens, make the primary nav vertical */
.m-nav__item--primary {
  @media (min-width: 400px) and (max-width: 600px) {
    display: block;
    margin: $space-stack-m;
    .m-nav__link {
      padding: 0 $space-s 0 0;
    }
    .m-nav__link:hover, .m-nav__link.is-active {
      border-bottom: none;
      border-right: 3px solid $color-link;
    }
  }
}

