/* General navigation styles */
// .m-nav {
//   padding: $space-inset-m;
// }

.m-nav__heading {
  margin: $space-stack-m;
}

.m-nav__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.m-nav__item {
  display: inline-table;
  margin-right: $space-s;

  &:last-child {
    margin: 0;
  }

  @media (min-width: 450px) {
    margin-right: $space-m;
  }

  @media (min-width: 600px) {
    margin-right: $space-l;
  }
}

.m-nav__link {
  padding: $space-s $space-xs;

  &:hover,
  &:focus,
  &.is-active {
    border-bottom: 3px solid $color-link;
    text-decoration: none;
  }

  &.icon__link:hover {
    border: 0;
  }

  .m-nav__item & .icon {
    color: $color-link;

    &:hover,
    &:focus {
      color: $color-link--hover;
    }
  }
}

/* styles just for primary nav */

.m-nav--primary {
  text-align: right;
  @media(max-width: 400px) {
    display: block;
    text-align: center;
    width: 100%;

    .m-nav__list {
      padding: 0;
    }

    .m-nav__item {
      width: 100%;
    }

    .m-nav__link {
      display: block;
      height: 100%;
      padding: $space-xs;
    }

    .m-nav__link:hover,
    .m-nav__link.is-active {
      background-color: $color-link;
      border: 0;
      color: $color-white;
      display: block;
      width: 100%;
    }
  }
}

/* on narrower screens, make the primary nav vertical */
.m-nav__item--primary {
  @media (min-width: 400px) and (max-width: 600px) {
    display: block;
    margin: $space-stack-m;

    .m-nav__link {
      padding: 0 $space-s 0 0;
    }

    .m-nav__link:hover,
    .m-nav__link.is-active {
      border-bottom: 0;
      border-right: 3px solid $color-link;
    }
  }
}

