.m-nav__heading {
  margin: $space-stack-m;
}

.m-nav__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.m-nav__item {
  display: inline-table;
  margin-right: $space-s;

  &:last-child {
    margin: 0;
  }

  @media (min-width: 450px) {
    margin-right: $space-m;
  }

  @media (min-width: 600px) {
    margin-right: $space-l;
  }
}

.m-nav__link {
  padding: $space-s $space-xs;

  &:hover,
  &:focus,
  &.nuxt-link-active {
    border-bottom: 3px solid $color-link;
    text-decoration: none;
  }

  &.icon__link:hover {
    border: 0;
  }

  .m-nav__item & .icon {
    color: $color-link;

    &:hover,
    &:focus {
      color: $color-link--hover;
    }
  }
}

/* styles just for primary nav */

.m-nav--primary {
  text-align: right;
  @media(max-width: 400px) {
    font-size: $font-mobile;
    padding-bottom: $space-s; // o-header has padding-bottom too
    padding-top: $space-m;
    text-align: center;
    width: 100%;
  }
  @media (min-width: 400px) and (max-width: 600px) {
    font-size: $font-mobile;
  }
}
