<section class="l-container l-slice--l">
  <h2>Previous and current clients</h2>
  <div class="m-gallery">
    {{# listItems.seven }}
      <img class="a-img--thumbnail" src="{{ img.rectangle.src}}" alt=" {{ img.rectangle.alt }}" title=" {{ img.rectangle.alt }}">
    {{/ listItems.seven }}
  </div>
</section>
