<section class="l-container l-slice--l">
  <h2>Previous and current clients</h2>
  <div class="m-gallery">
    {{# listItems.seven }}
      {{> molecules-gallery-item }}
    {{/ listItems.seven }}
  </div>
</section>
