<figure class="m-gallery__item" tabindex="0">
  <div class="m-figure__media">
    <img class="a-img--thumbnail" src="{{ img.rectangle.src}}" alt=" {{ img.rectangle.alt }}">
  </div>
  <figcaption class="m-figure__caption">{{ img.rectangle.alt }}</figcaption>
</figure>
