// Spacing
// @https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.tgpemkmya

$space-inset-default: 16px 16px 16px 16px;
$space-inset-xs: 4px 4px 4px 4px;
$space-inset-s: 8px 8px 8px 8px;
$space-inset-m: 16px 16px 16px 16px;
$space-inset-l: 32px 32px 32px 32px;
$space-inset-xl: 64px 64px 64px 64px;

$space-inset-squish-default: 8px 16px 8px 16px;
$space-inset-squish-xs: 2px 4px 2px 4px;
$space-inset-squish-s: 4px 8px 4px 8px;
$space-inset-squish-m: 8px 16px 8px 16px;
$space-inset-squish-l: 16px 32px 16px 32px;
$space-inset-squish-xl: 32px 64px 32px 64px;

$space-stack-default: 0 0 16px 0;
$space-stack-xs: 0 0 4px 0;
$space-stack-s: 0 0 8px 0;
$space-stack-m: 0 0 16px 0;
$space-stack-l: 0 0 32px 0;
$space-stack-xl: 0 0 64px 0;

$space-inline-default: 0 16px 16px 0;
$space-inline-xs: 0 4px 4px 0;
$space-inline-s: 0 8px 8px 0;
$space-inline-m: 0 16px 16px 0;
$space-inline-l: 0 32px 32px 0;
$space-inline-xl: 0 64px 64px 0;

$space-default: 16px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;
