.u-visually-hidden {
  display: none !important;
  visibility: hidden !important;
}

.u-hide-until-focus {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;

  &:focus {
    height: auto;
    position: static;
    width: auto;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-clearfix::after {
  clear: both;
  content: '';
  display: table;
}
