<nav class="o-footer-nav">

	<ul class="o-footer-nav__list">

		{{# footerNav }}
		<li class="o-footer-nav__item"><a href="{{ url }}" class="o-footer-nav__link">{{ label }}</a></li>
		{{/ footerNav }}

	</ul><!--end o-footer-nav__list-->

</nav><!--end o-footer-nav-->
