<section class="m-banner">
  <div class="l-container m-banner--content">
    <h1 class="m-banner--title">{{ headline.short }}</h1>
    <p class="m-banner--tagline">{{ headline.long }}</p>
  </div>
</section>