<nav class="m-nav u-center-text">
  <h3 class="m-nav__heading">Contact Me</h3>
  <ul class="m-nav__list">
    {{#icons}}
    <li class="m-nav__item">
      <a href="#" class="m-nav__link icon__link" title="{{ description }}">
        <span class="icon {{ class }}"></span>
        <span class="u-visually-hidden">{{ description }}</span>
      </a>
    </li>
    {{/icons}}
  </ul>
  <!--end m-nav__list-->
</nav>
<!--end m-nav-->