<nav class="m-nav u-center-text">
  <h3 class="m-nav__heading" id="contact">Contact Me</h3>
  <ul class="m-nav__list">
    {{#icons}}
    <li class="m-nav__item">
      <a class="a-icon--svg" href="{{ href }}" aria-label="{{ icon-name }}">
        <svg viewbox="0 0 512 512" role="img">
          <title>{{ icon-name }}</title>
          <path d="{{ path }}"/>
        </svg>
        <!--[if lt IE 9]><em>{{ icon-name }}</em><![endif]-->
      </a>
    </li>
    {{/icons}}
  </ul><!--end m-nav__list-->
</nav><!--end m-nav-->
