.o-header {
  background-color: $color-gray-95;
  padding-top: $space-s;
  padding-bottom: $space-s;

  .l-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 400px) {
    .m-logo-link {
      margin: auto;
    }
  }
}

// TODO: add non-flex fallback
