<footer class="o-footer" role="contentinfo">
  <div class="l-container">
    {{> molecules-contact-nav }}
    <section class="u-center-text">
      <p>Copyright © 2017 Katie M Fritz, LLC. All rights reserved &nbsp;•&nbsp; Built with <a href="https://nuxtjs.org/">NuxtJS</a>.</p>
    </section>
  </div>
</footer>
<!-- end o-footer -->