<nav class="c-nav c-nav--primary">
  <ul class="c-nav__list">
    {{#primaryNav}}
    <li class="c-nav__item c-nav__item--primary">
      <a href="{{ url }}" class="c-nav__link {{ class }}">{{ label }}</a>
    </li>
    {{/primaryNav}}
  </ul><!--end c-nav__list-->
</nav><!--end c-nav-->
