.a-logo {
  max-height: 4rem;
}

.a-img--portrait {
  max-width: 100%;
}

.a-img--screenshot {
  border: 2px $color-gray-70 solid;
  max-width: 50rem;
  width: 100%;
}

.a-img--thumbnail {
  max-width: 10rem;
  max-height: 5rem;
}

.icon {
  color: $color-primary;
  font-size: 1.5rem;
  font-weight: bold;
}
