<article class="m-service">
  <h2 class="m-service__name">{{ service.name }}</h2>
  <section class="m-service__desc">
    {{{ service.description }}}
  </section>
  <section class="m-service__deliverables">
  <h3>What you get:</h3>
  {{{ service.deliverables }}}
  </section>
  <section class="m-service__price">
    <p><strong>Price: </strong>{{ service.price }}</p>
  </section>
</article>
