<p>Primary font: 'Josefin Sans', Arial, sans-serif;</p>
<p><em>Primary font italic: 'Josefin Sans', Arial, sans-serif;</em></p>
<p><strong>Primary font bold: 'Josefin Sans', Arial, sans-serif;</strong></p>

<section class="u-font-secondary">
  <p>Secondary font: 'Josefin Slab',
  Georgia, serif;</p>
  <p><em>Secondary font italic: 'Josefin Slab',
  Georgia, serif;</em></p>
  <p><strong>Secondary font bold: 'Josefin Slab',
  Georgia, serif;</strong></p>
</section>
