<footer class="c-footer" role="contentinfo">

	{{> molecules-contact-nav }}

	<p>Copyright © 2017 Katie M Fritz, LLC. All rights reserved &nbsp;•&nbsp; Built with <a href="https://nuxtjs.org/">NuxtJS</a>.</p>

</footer><!-- end c-footer -->
